@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');




*,
body html{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.navbar{
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: 0 1rem 1rem 0 rgba(0,0,0,0.12);

}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3rem 0 0;
}
.navbar ul li{
    margin: 0 0 0 1rem;
}
.navbar ul li a{
    display: inline;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    font-size: 15px;
    padding: 7px;
    border-radius: 10px;
    transition: 1.0s;
}
.navbar ul li a:hover{
    background-image: linear-gradient(rgba(255, 0, 0, 0.384),rgba(255, 255, 0, 0.342));
    color: green;
}
.navbar h1{
    font-family: 'Dancing Script', cursive;
    font-weight: 700; 
    color: green; 
    font-size: 30px;
}
.tampil .banner{
    position: relative;
    width: 100%;
    height: 300px;
    margin:auto;
    display: flexbox;
    border-radius: 15px;
}
.tampil{
    width: 100%;
    height: 100vh;
    margin: 2px;
    overflow-y: scroll;
    align-items: center;
}
.tampil-dua{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tampil-dua .banner img{
    width: 100%;
    height: 300px;
    border-radius: 15px;
    position: relative;
    background-attachment: fixed;
    animation: m;
    animation-duration: 4s;
}
@keyframes m{
    from {opacity: 0;}
    to{opacity: 1;}
}
.tampil-dua #banner{
    position: relative;
    padding: 10px;
    width: 91%;
    justify-content: center;
    height: 310px;
}
.tampil-dua #banner .left{
    position: absolute;
    top: 40%;
    left:0;
    z-index: 1;  
}
.tampil-dua #banner .right{
    position: absolute;
    top: 40%;
    right:0;
    z-index: 1; 
}
.tampil-dua #banner .right i,
.tampil-dua #banner .left i{
    background-color: rgba(0,0,0,0.30);
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color:aliceblue;
    border-radius: 50px;
    transition: all 0.2s;
    
}
.tampil-dua #banner .right i:hover,
.tampil-dua #banner .left i:hover{
    background-color:aliceblue ;
    color:black;
    border: 1px solid rgba(0,0,0,0.30);
    transform: scale(1.2);
    transition: all 0.4s ease-in-out;
}
.tampil-dua #banner .len{
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 1;
}
.tampil-dua #banner .len .lens{
    cursor: pointer;
    margin: 0 4px;
    width: 13px;
    height: 13px;
    border-radius: 50px;
    display: inline-block;
    background-color: rgba(0,0,0,0.30);
}
.tampil-dua #banner .len .lens-active{
    transform: scale(1.2);
}
.content-kat{
    display: flex;
    width: 100%;
    padding: 3px;
    margin: 5px 0 20px 0;
    border-radius: 15px;
    box-shadow: 0 0 1rem 0 rgba(0,0,0,0.20);
}
.content-kat .katagori{
    position: relative;
    width: 50%;
    padding: 10px;
    margin: 10px;
}
.content-kat .katagori .pilih-kat{
    position: relative;
    padding: 0 10px;
}
.content-kat .katagori .pilih-kat .left{
    position: absolute;
    top: 40%;
    left:0;
    z-index: 1;
}
.content-kat .katagori .pilih-kat .right{
    position: absolute;
    top: 40%;
    right:0;
    z-index: 1;
}
.content-kat .katagori .pilih-kat .left i,
.content-kat .katagori .pilih-kat .right i{
    background-color: rgba(0,0,0,0.30);
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color:aliceblue;
    border-radius: 50px;
    transition: all 0.2s; 
}
.content-kat .katagori .pilih-kat .left i:hover,
.content-kat .katagori .pilih-kat .right i:hover{
    background-color:aliceblue ;
    color:black;
    border: 1px solid rgba(0,0,0,0.30);
    transform: scale(1.2);
    transition: all 0.4s ease-in-out; 
}
.content-kat .katagori .pilih-kat .pilih{
    position: relative;
    margin: 7px 0 0 0;
    float: bottom;
    width: -2;
    height: 145px;
    display: flex;
    /* border: 1px solid rgba(0,0,0,0.30); */

}
.content-kat .tagihan{
    width: 50%;
    margin: 10px;
    padding: 10px;
}
.content-kat .tagihan .list{
    display: flex;
}
.content-kat .tagihan .list h3{
    margin: 10px 0 0 8px;
    color: blue;
}
.content-kat .tagihan .table{
    position: relative;
    margin: 7px 0 0 0;
    float: bottom;
    width: -2;
    height: 150px;
    border: 1px solid rgba(0,0,0,0.30);
    border-radius: 12px;
}
.tagihan .table #leng{
    cursor: pointer;
    position: relative;
    display: flex;
    width: -2;
}
.tagihan .table #leng:before{
    position: absolute;
    content:" ";
    padding: 0.3px;
    width: 100%;
    bottom: 0;
    background-color: rgba(0,0,0,0.30);

}
.tagihan .table #leng .leng{
    width: 100%;
    display: flex;
    padding: 4px;
    justify-content: space-between;
    align-items: center;
}
.table #leng i{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: -2;
}
.table #leng i:hover{
    color: rgba(0,0,0,0.30);
}
.table #leng i:after{
    content: "";
    position: absolute;
    padding: 0.3px;
    height: 100%;
    left: 0;
    background-color: rgba(0,0,0,0.30);

}
.tagihan .table #leng .leng h4{
    position: relative;
    cursor: pointer;
    margin:  0 8px 0 8px;
    text-align: center;
    padding: 6px;
    display: flex;
    justify-content: center;
}
.tagihan .table #leng .leng .h-active:before{
    content: " ";
    position: absolute;
    padding: 2px;
    width: 100%;
    bottom: 0;
    background-color: green;
    border-radius: 15px;

}
.tagihan .table #leng .leng h4:hover{
    color: green;
}
.tampil-dua .flas{
    width: 100%;
    height: 350px;
}
.pilih-kat .pilih .card-kat{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 100%;
    padding: 5px;
    margin: 4px;
    box-shadow: 0 0 1rem 0 rgba(0,0,0,0.20) ;
    border-radius: 12px;
}
.pilih-kat .pilih .card-kat img{
    width: 120px;
    height: 110px;
    margin-bottom: 10px;
}
.pilih-kat .pilih .card-kat h4{
    font-size: 14px;
    padding: 4px;
    background-color: aquamarine;
    border-radius: 5px;
    text-align: center;
}
footer{
    height: 100vh;
}